Diagnostic Pages

<ul>
  <li><%= link_to("Headings", diagnostics_headings_path) %></li>
  <li><%= link_to("Search form", diagnostics_search_form_path) %></li>
  <li><%= link_to("Search form with sidebar", diagnostics_search_form_with_sidebar_path) %></li>
  <li><%= link_to("Search form with sidebar and slider", diagnostics_search_form_with_sidebar_and_slider_path) %></li>
</ul>

