<% content_for :page_title do %>
  Diagnostics Page with Sidebar 2
<% end %>
<% content_for :page_banner do %>
  <h1>Diagnostics Page with Sidebar 2</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar_2" %>
<% end %>

<%= render "search" %>

Main content
