<% content_for :page_title do %>
  Diagnostics Search Form
<% end %>
<% content_for :page_banner do %>
  <h1>Diagnostics Search Form</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<%= render "search" %>

Main content
