<% content_for :page_title do %>
  Diagnostics Page with Sidebar 6
<% end %>
<% content_for :page_banner do %>
  <h1>Diagnostics Page with Sidebar 6</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar_6" %>
<% end %>

<%= render "search" %>

Main content
<br/>
<%= link_to("Index", diagnostics_index_path) %>
