<% content_for :page_title do %>
  Diagnostics Page with full Sidebar
<% end %>
<% content_for :page_banner do %>
  <h1>Diagnostics Page with full Sidebar</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar_full" %>
<% end %>

<%= render "search" %>

Main content
