<% content_for :page_title do %>
  Vascular Plant Names Search
<% end %>
<% content_for :page_banner do %>
  <h1>APNI&nbsp;Names&nbsp;Within&nbsp;A&nbsp;Taxon&nbsp;&mdash;&nbsp;Selected&nbsp;Ranks</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<%= render "search" %>
<h2><%= @name.full_name %></h2>

<%= render partial: 'index', locals: {name: @name} %>




<br/>
<br/>
<br/>
<br/>
<span class="debug red tiny hidden-print">[plants/names/search/within/taxon/selected_ranks/index]</span>

