<% content_for :page_title do %>
  NSL: <%= tree_label %> 
<% end %>
<% content_for :page_banner do %>
  <h1><%= tree_banner_text %></h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<div class="row">
  <div class="col-xl-7 col-lg-9 col-md-10">
    <%= tree_description_html.html_safe %>
  </div>
</div>
<br/>
<span class="debug hidden-print tiny">
  app/views/plants/taxonomy/accepted/index
</span>

