<% content_for :page_title do %>
  Vascular Plant Taxonomy &mdash; Accepted
<% end %>
<% content_for :page_banner do %>
  <h1>Other taxonomies</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<% if @taxonomies.empty? %>
<p>NSL supports taxonomies other than the nationally
accepted taxonomy, but there are not yet any such taxonomies in this area.
</p>


<% else %>
<p>NSL supports taxonomies other than the nationally
accepted taxonomy.
</p>


<p>Those other taxonomies include:
</p>
<ul>
<% @taxonomies.each_pair do | key, taxonomy | %>
  <li><%= link_to(taxonomy[:name], plants_taxonomy_other_show_path(key)) %></li> 
<% end %>
</ul>
<br>

<% end %>


<span class="debug hidden-print tiny">
  app/views/plants/taxonomy/other/index
</span>
