<% content_for :page_title do %>
  Vascular Plant Taxonomy &mdash; Accepted
<% end %>
<% content_for :page_banner do %>
  <h1>Other taxonomies</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>


    <br/>
      <span class="debug hidden-print tiny">
        app/views/plants/taxonomy/other/_sidebar
      </span>
