<% content_for :page_title do %>
  NSL: Changes
<% end %>
<% content_for :page_banner do %>
  <h1>Changes to the Search App</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>


<ul class="list-group">
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">03-Nov-2016</span>
      <br/>
      Use dashes to show menu levels.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">01-Nov-2016</span>
      <br/>
      Improve the ordering of misapplications within synonyms in taxonomy
      search.  (Ref: 1979)
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">29-Oct-2016</span>
      <br/>
      Improve naming consistency and streamline navigation to search pages.
      <ul>
        <li/>Use general terms instead of product names.
          <br>e.g. 'Name Index' instead of 'APNI', 'Accepted Taxonomy' instead
          of 'APC'. 
        <li/>Reduce number of clicks to reach search by removing 'Name' and
          'Taxonomy' pages.
          <br>Show the text that was on the 'Name' and 'Accepted Taxonomy'
          product pages via 'About' links.
      </ul>
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">19-Oct-2016</span>
      <br/>
      Display name status after any non-legitimate name in synonymy. (Related
      ref: 1915)
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">15-Sep-2016</span>
      <br/>
      Switch to the hub architecture and remove hard-coding for apni/apc so 
      search can work with any correctly configured shard. (Approx. date)
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">10-Aug-2016</span>
      <br/>
      Alternate search buttons once again pick up the latest search term.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">10-Aug-2016</span>
      <br/>
      Change "ICNAFP" back to "ICN" on the NSL and Flora pages.  (Ref: 1919)
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">10-Aug-2016</span>
      <br/>
      Modify feedback form.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">10-Aug-2016</span>
      <br/>
      Change cursor to a "wait" image when searching.  (Not all cases yet.)
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">10-Aug-2016</span>
      <br/>
      Make sure the clear button appears when switching search (APNI/APC).
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">10-Aug-2016</span>
      <br/>
      Take recent search parameter when switching search from APNI to APC or
      APC to APNI.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">09-Aug-2016</span>
      <br/>
      Add a clear button at the end of search fields.  It appears only when 
      text is entered.  Escape also clears fields with this button.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">09-Aug-2016</span>
      <br/>
      Make search field mandatory.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">09-Aug-2016</span>
      <br/>
      Fix active "ticks" on APC sidebar options.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">09-Aug-2016</span>
      <br/>
      Add "NSL:" to page titles and make them consistent.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">09-Aug-2016</span>
      <br/>
      Highlight Navigation Menu background on hover.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">08-Aug-2016</span>
      <br/>
      Show name status after invalid/illegitimate names consistently.  That
      is, not just in Name result lists, but also when you click the Name link.
      (Ref: 1915)
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">05-Aug-2016</span>
      <br/>
      Adjust layout for older versions of Firefox - especially those used on 
      Departmental PCs.  Also move menu to LHS. (Ref: 1911)
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">20-Jul-2016</span>
      <br/>
      Change "ICN" to "ICNAFP" on the NSL and Flora pages.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">15-Jul-2016</span>
      <br/>
      Show name elements in italics - adapted to the new full_name_html
      structure.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">14-Jul-2016</span>
      <br/>
      More formatting changes to taxonomy output.  Repeat.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">14-Jul-2016</span>
      <br/>
      Fix problems noted with APC display content. Fix broken link to show a
      taxonomy (APC) name.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">13-Jul-2016</span>
      <br/>
      Display misapplications last in accepted taxonomy (APC) details.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">13-Jul-2016</span>
      <br/>
      Adjusted layout for broadcast and search help. 
      Added "Help" switch on RHS.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">12-Jul-2016</span>
      <br/>
      Set up system broadcast.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">12-Jul-2016</span>
      <br/>
      Set up distinctive colours for test.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">12-Jul-2016</span>
      <br/>
      Remove "List" link and improve the "Details" on/off toggle for accepted
      Taxonomy (APC) output.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">11-Jul-2016</span>
      <br/>
      Modify search buttons and adjust layout for a range of screen widths.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">07-Jul-2016</span>
      <br/>
      Modify explanatory text and add new text on the search pages (NSL-1861).
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">07-Jul-2016</span>
      <br/>
      Improve display of misapplied synonyms in Taxonomy (APC) output.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">06-Jul-2016</span>
      <br/>
      Include the cited reference in Taxonomy (APC) output for misapplications.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">05-Jul-2016</span>
      <br/>
      Show the Accepted Names in the Accepted Taxonomy in bold font.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">01-Jul-2016</span>
      <br/>
      Change "Biodiversity Australia" to "National Species List" and add a
      new level of page structure for Flora and Fauna directly under NSL.  Also
      add some draft boilerplate text on the NSL page.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">29-Jun-2016</span>
      <br/>
      Bug fix and layout tweak after review.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">27-Jun-2016</span>
      <br/>
      Add feedback link.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">27-Jun-2016</span>
      <br/>
      Add <q>Search APC</q> button on APNI search.<br>
      Add <q>Search APNI</q> on APC search.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">27-Jun-2016</span>
      <br/>
      Add direct links to the main APNI and APC search pages on the Vascular
      Plants page.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">24-Jun-2016</span>
      <br/>
      The pages that show a single name or tree result now include the relevant
      search form.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">24-Jun-2016</span>
      <br/>
      The "always retrieve details" switch now applies to the browser session,
      not just to the current page.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">23-Jun-2016</span>
      <br/>
      Add preposition "by" before citation for all "misapplication" synonyms."
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">23-Jun-2016</span>
      <br/>
      Label "pro parte misapplied" as "pro parte misapplication".  Likewise for
      "doubtful misapplied" and "doubtful pro parte misapplied".
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">22-Jun-2016</span>
      <br/>
      Show type, lectotype, neotype notes above synonyms.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">22-Jun-2016</span>
      <br/>
      Remove external link icon from the link to Editor.
  </li>
  <li class="list-group-item lightgray-bg">
    <span class="label label-default label-pill pull-xs-left">22-Jun-2016</span>
      <br/>
      Review
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">22-Jun-2016</span>
      <br/>
      Do not display 'EPBC' instance notes.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">22-Jun-2016</span>
      <br/>
      Allow html formatting in APC comment.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">22-Jun-2016</span>
      <br/>
      Misapplication of name "by" - added "by".
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">22-Jun-2016</span>
      <br/>
      Place APC comment above APC distribution.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">22-Jun-2016</span>
      <br/>
      Remove duplicate display of APC comment.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">22-Jun-2016</span>
      <br/>
      Remove stray trailing colon from notes
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">22-Jun-2016</span>
      <br/>
      Show Citation links, which can be turned on or off for the session.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">21-Jun-2016</span>
      <br/>
      Display APNI details of APC results correctly.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">20-Jun-2016</span>
      <br/>
      JSON and CSV Name Search outputs working with now RHS links pattern -
      i.e. click Search button.  List output only at the moment.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">20-Jun-2016</span>
      <br/>
      Names as synonyms are italicized, but not otherwise.  Common names are not italicized.  Related to NSL-1849.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">17-Jun-2016</span>
      <br/>
      Display misapplication and misapplied-to entries correctly.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">17-Jun-2016</span>
      <br/>
      Show Editor links, which can be turned on or off for the session.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">17-Jun-2016</span>
      <br/>
      Show BHL links.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">16-Jun-2016</span>
      <br/>
      List common names after instance notes in name details.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">16-Jun-2016</span>
      <br/>
      Fix spacing of name detail entries.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">16-Jun-2016</span>
      <br/>
      The APC distribution and comment entries are now labelled
      'APC distribution' and 'APC comment' respectively.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">15-Jun-2016</span>
      <br/>
      Make the links on the Names-within-Name searches consistent with the
      recent changes to Name searching.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">14-Jun-2016</span>
      <br/>
      Adjust controls on RHS of plant name searches for controlling details.
  </li>
  <li class="list-group-item lightgray-bg">
    <span class="label label-default label-pill pull-xs-left">15-Jun-2016</span>
      <br/>
      Review
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">10-Jun-2016</span>
      <br/>
      Show number of details retrieved in its own entry on RHS.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">09-Jun-2016</span>
      <br/>
      The name search type links on the RHS e.g. "scientific", "cultivar",
      etc now work by "clicking" the search button, so any changes to the search
      field are sent in the search.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">09-Jun-2016</span>
      <br/>
      Added name search for "Scientific and Cultivar".
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">09-Jun-2016</span>
      <br/>
      Show APC information as an icon.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">08-Jun-2016</span>
      <br/>
      Show all instance notes for Name detail entries (instances).
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">07-Jun-2016</span>
      <br/>
      Show synonyms "of".
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">04-Jun-2016</span>
      <br/>
      Author names now not italicised.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">04-Jun-2016</span>
      <br/>
      Adjust fonts, line-heights and indents.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">03-Jun-2016</span>
      <br/>
      Separate RHS links now let you collapse and expand retrieved details in bulk.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">03-Jun-2016</span>
      <br/>
      A sticky setting allows you to make an intial bulk detail retrieval automatic.  i.e. for the first 100
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">03-Jun-2016</span>
      <br/>
      Once the listed names appear, clicking the caret retrieves and expands the details for a single entry.
      <br/>
      There is also a link that lets you retrieve details in bulk, 100 at a time.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">03-Jun-2016</span>
      <br/>
      There is no limit on the number of list items you can retrieve.<br/>
      List results should be fast.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">03-Jun-2016</span>
      <br/>
      All name searches now return a list of results.
      Previously you had to choose between sticky settings for "List" and "Details".<br/>
      This should make the search controls simpler.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">03-Jun-2016</span>
      <br/>Name search results link to a show page. Previously the name link just opened the details inline.
      <br/>To expand details inline, there is now a caret to click.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">02-Jun-2016</span>
      <br/>
      Ranks above family now sort to the top in
      scientific name search results.  E.g. "brunonia*"
  </li>
  <li class="list-group-item lightgray-bg">
    <span class="label label-default label-pill pull-xs-left">01-Jun-2016</span>
      <br/>
      Review
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">31-May-2016</span>
    <br>
      Put name heading directly above name details when showing a name.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">31-May-2016</span>
    <br>
      Page to show a name with its details has the name as a heading close to the text.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">31-May-2016</span>
    <br>
      Improve name details: correct sort order for synonyms.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">31-May-2016</span>
    <br>
      Revert to slower but simpler algorithm for name details search. (Technical note.)
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">30-May-2016</span>
    <br>
      Rely on shard_config table. (Technical note.)
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">30-May-2016</span>
    <br>
      Improve name details: identify APC concepts, excluded names; add comments, distribution for APC concepts.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">27-May-2016</span>
    <br>
    Name search now queries against both simple name and full name. 
    Previously it queried simple name first and only looked at full name if no
    results came from simple name.  This turned out to be a problem.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">26-May-2016</span>
      <br/>
     Hide Name search option for "all" because common names do not sort well with other names that have families.  The common name results would have to be separated from the other results and this seems to add little to the separate "scientific", "cultivar", and "common" options.  Do we need to consider a combined output for "scientific" and "cultivar"?
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">26-May-2016</span>
      <br/>
     Revise list search expanded details to more closely match detail search output.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">26-May-2016</span>
      <br/>
     Revise detail search results to have clearer grouping and separation of elements similar to original APNI search.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">26-May-2016</span>
      <br/>
     Revise detail search results to display family name above name.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">26-May-2016</span>
      <br/>
     Revise list search results to display family name on left of name.
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">26-May-2016</span>
      <br/>
     Sort name search results by family name, name.sort_name.  Resolving family name quickly in database is a technical issue here.
  </li>
  <li class="list-group-item lightgray-bg">
    <span class="label label-default label-pill pull-xs-left">25-May-2016</span>
      <br/>
      Review
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">24-May-2016</span>
      <br/>
     Add cross-links to name detail search results. 
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">24-May-2016</span>
      <br/>
      Add page to list changes
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">24-May-2016</span>
      <br/>
      Add show-all-details and hide-all-details links to name search results
    <ul class="indented circles">
      <li>Remove the number-of-details field beside details side link</li>
      <li>Note: have not added any way to override the hard limits - discuss </li>
    </ul>
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">23-May-2016</span>
      <br/>
      Set hard limits for list search and details search.
      <ul class="indented circles">
        <li>Part of working through changes to name search for details</li>
        <li>To do: allow options to override these hard defaults</li>
      </ul>
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">20-May-2016</span>
      <br/>
      Improve name search for details.
      <ul class="indented circles">
        <li>Uses a view.</li>
        <li>Should be fast.</li>
        <li>More complicated to program, so may be bugs</li>
      </ul>
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-left">20-May-2016</span>
      <br/>
      Improve hybrid formula searching.
    <ul class="indented circles">
      <li>All name searches also search for 'x ...'</li>
      <li>Treat leading multiplication sign followed by space as 'x '</li>
      <li>Display leading 'x ' as multiplication sign followed by space </li>
    </ul>
  </li>
</ul

