<% content_for :page_title do %>
  Vascular Plant Taxonomy &mdash; Accepted
<% end %>
<% content_for :page_banner do %>
  <h1>Australian Plant Census</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<div class="row">
  <div class="col-xl-7 col-lg-9 col-md-10">

    <p>The Australian Plant Census (APC) is a nationally-accepted taxonomy for
    the Australian flora. APC covers all published scientific plant names used
    in an Australian context in the taxonomic literature, but excludes taxa
    known only from cultivation in Australia. The taxonomy and nomenclature
    adopted for the APC are endorsed by the Council of Heads of
    Australasian Herbaria (CHAH).
  </p>

  <p>Information available from APC includes:
    <ul class="discs">
      <li>Accepted scientific name and author abbreviation(s);</li>
      <li>Reference to the taxonomic and nomenclatural concept adopted for APC;</li>
      <li>Synonym(s) and misapplications;</li>
      <li>State distribution;</li>
      <li>Relevant comments and notes</li>
    </ul>
  </p>

  <p>APC is currently maintained within the Centre for Australian National
  Biodiversity Research with staff, resources and financial support from the
  Australian National Herbarium, Australian National Botanic Gardens and the
  Australian Biological Resources Study. The CANBR, ANBG and ABRS collaborate
  to further the updating and delivery of APNI and APC.
  </p>
  </div>
</div>
<br/>
<span class="debug hidden-print tiny">
  app/views/plants/taxonomy/accepted/index
</span>

