<% content_for :page_title do %>
  Vascular Plant Taxonomy &mdash; Accepted
<% end %>
<% content_for :page_banner do %>
  <h1>APC</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<p>
The Australian Plant Census (APC) lists the accepted scientific names for the
Australia vascular flora, including:
<ul class="xindented discs">
  <li>angiosperms</li>
  <li>ferns</li>
  <li>gymnosperms</li>
</ul>
both native and naturalised, and includes synonys and misapplications for
these names.
</p>
<p>
The APC covers all published scientific plant names used in an Australian
context in the taxonomic literature, but excludes taxa known only from
cultivation in Australia.
</p>
<p>
The taxonomy and nomenclature adopted for the APC are endorsed by the
<a href="http://chah.org.au">
  Council of Heads of Australasian Herbaria (CHAH)
</a>).
</p>
<p>
For a full listing of scientific names applied to the Australian vascular flora,
including bibliographic details, see the
<%= link_to("Australian Plant Name Index (APNI)", plants_names_path) %>.
</p>
<br/>
<br/>
<br/>
<span class="debug hidden-print tiny">
  app/views/plants/taxonomy/accepted/index
</span>
