<% content_for :page_title do %>
  Vascular Plant Taxonomy &mdash; Accepted
<% end %>
<% content_for :page_banner do %>
  <h1>APC</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<p>
The Australian Plant Census (APC) lists the accepted scientific names for the
Australia vascular flora, including:
<ul class="discs">
  <li>angiosperms</li>
  <li>ferns</li>
  <li>gymnosperms</li>
</ul>
both native and naturalised, and includes synonyms and misapplications for
these names.
</p>
<p>
The APC covers all published scientific plant names used in an Australian
context in the taxonomic literature, but excludes taxa known only from
cultivation in Australia.
</p>
<p>
The taxonomy and nomenclature adopted for the APC are endorsed by the
<%= link_to("Council of Heads of Australasian Herbaria (CHAH)", "http://chah.org.au") %>
</p>
<p>
For a full listing of scientific names applied to the Australian vascular flora,
including bibliographic details, see the
<%= link_to("Australian Plant Name Index (APNI)", plants_names_path) %>.
</p>
<hr class="black-bg" />
<br/>
<br/>
<br/>

The Australian Plant Census (APC) is a list of the accepted scientific names for the Australian vascular flora, ferns and gymnosperms, both native and introduced, and lists synonyms and misapplications for these names. Currently, for historical reasons hornworts and liverworts are also included but they are to moved to the appropriate taxonomic grouping.
</p>
<p>
APC covers all published scientific plant names used in an Australian context in the taxonomic literature, but excludes taxa (including cultivars) known only from cultivation in Australia. The taxonomy and nomenclature adopted for the APC are endorsed by the Council of Heads of Australasian Herbaria (CHAH).
</p>
<p>
For further information about names listed in APC, including bibliographic information, secondary references and typification, consult the Australian Plant Name Index (APNI). 
</p>
<p>
Information available through APC includes:
</p>
<ul class="indented discs">
  <li>
    Accepted scientific name and author abbreviation(s);
  </li>
  <li>
    Reference to the taxonomic and nomenclatural concept adopted for APC;
  </li>
  <li>
    Synonym(s) and misapplications;
  </li>
  <li>
    State distribution, unless specifically labelled “(naturalised)” the taxon is considered to be native in each area listed;
  </li>
  <li>
    Relevant comments and notes
  </li>
</ul>

<p>
   In APC a CHAH reference indicates that the concept adopted for the APC has not been formally published elsewhere in a scientific work. In cases where a satisfactory circumscription or full synonymy does not exist, the APC Working Group and CHAH reach a consensus on the concept to be used.
</p>
<p>
Commentary arising from the APC project’s consideration of a name may be included. Comments are explanatory text on issues such as nomenclature, taxonomic concepts, hybrids and geographic occurrence.
</p>
<p>
APC is coordinated through a network of contributors, and is maintained by the Centre for Australian National Biodiversity Research with staff, resources and financial support from the Australian National Herbarium, Australian National Botanic Gardens, Australian Biological Resources Study, CHAH and State and Territory herbaria. These organisations collaborate to further the updating and delivery of APC.
</p>

<br/>
<span class="debug hidden-print tiny">
  app/views/plants/taxonomy/accepted/index
</span>
