<% content_for :page_title do %>
  Vascular Plant Taxonomy &mdash; Accepted
<% end %>
<% content_for :page_banner do %>
  <h1>APC Taxonomy</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<%= link_to("APC Name Search",
            plants_taxonomy_accepted_search_path,
            title: "APC Search Page") %> is the basic APC search page that searches on names and lets you provide wildcards (*).

<br/>
<br/>
<br/>
<span class="debug hidden-print tiny">
  app/views/plants/taxonomy/accepted/index
</span>
