
<div class="row">
<div class="col-xs-9 col-sm-11 col-md-9 col-lg-7 col-xl-8">
<div class="help-text for-help <%= 'hidden-xs-up' unless session[:help] && session[:help] == true %>">
<p>The Australian Plant Name Index (APNI) is a resource for the botanical community
that deals with vascular plant names and their usage in the scientific literature,
whether as a current name or synonym.  Names of cultivars derived from the
Australian flora are also included.
</p>
<p>
APNI does not recommend any particular taxonomy or nomenclature.
</p>
<p>
For a listing of currently accepted scientific names for the Australian
vascular flora, use the
<%= link_to("Australian Plant Census (APC)", taxonomy_accepted_path) %>.
</p>
</div>
</div>
</div>

