
<div class="row">
<div class="col-xs-9 col-sm-11 col-md-9 col-lg-7 col-xl-8">
<div class="help-text for-help <%= 'hidden-xs-up' unless session[:help] && session[:help] == true %>">
<%= name_search_help_text_html.html_safe %>
</div>
</div>
</div>

