<div class="power-links">
  <hr/>
  <%= link_to("Summary of names within #{name.full_name}",
              names_search_within_taxon_summary_path(name.id),
              title:
              "Show names within this name. E.g. species within genus") %>
  <hr/>
</div>

