  <nav id="sidebar" class="debug bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <div id="sidebar-navigation-menu" class="">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <%= link_to "&ndash;&nbsp;Flora".html_safe,
                    flora_path,
                    class: "bd-toc-link",
                    title: "Flora" %>
        <%= link_to "&ndash;&ndash;&nbsp;#{menu_label}".html_safe,
                    root_path,
                    class: "bd-toc-link", 
                    title: shard.capitalize %>
        <%= link_to ticked("&ndash;&ndash;&ndash;&nbsp;Name Index"),
                    names_search_path,
                    class: "bd-toc-link",
                    title: "Search the #{name_label_text}" %>
        </div>
      </div>
  </nav>
  <span class="debug hidden-print">[names/search/_sidebar]</span>
