
<p class="small">
Search for <%= params[:search_type] %> names found no results.
</p>
<p class="small">
You could also search for: 
<ul class="small small-indent discs">
  <% Names::Search::Types.new.all_except(params[:search_type]).each  do |type| %>
    <li>
    <%= link_to "#{type} names",
                          "javascript:void(0);",
                          class: "name-type-switch-link",
                          data: {switch_to: "#{type}"},
                          title: "Search the Name Index for #{type}." %>
    </li>
  <% end %>
</ul>
</p>
