<div class="instance-entry">
  <% instance.synonyms_for_display_just_commons.each do |syn| %>
    <li class='compact subordinate-instance'>
      <span class="synonym-type">
        <%= syn.instance_type.name %>
        <%= link_to(syn.name.citation.html_safe,
                   names_show_path(syn.name_id),
                   class: "common-name") %>
      </span>
    </li>
  <% end %>
</div>
