  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <div id="sidebar-navigation-menu" class="">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <%= link_to "Flora",
                    flora_path,
                    class: "bd-toc-link",
                    title: "Flora" %>
        <%= link_to menu_label,
                    root_path,
                    class: "bd-toc-link",
                    title: "#{menu_label} Names" %>
        </div>
        <hr>
        <ul class="nav bd-sidenav">
          <li class="">
          <%= link_to "Search",
                        names_search_path,
                        class: "",
                        title: "Search #{ name_link_title }" %>
          </li>
        </ul>
      </div>
  </nav>
  <br/>
  <span class="debug tiny hidden-print">[names/_sidebar]</span>
