<li class='compact subordinate-instance'>
  <span class="synonym-type">
    <%= synonym.instance_type.name %>
    <%= link_to(synonym.name.citation.html_safe,
               names_show_path(synonym.name_id),
               class: "synonym") %>
  </span>

