<% content_for :page_title do %>
  Vascular Plant Taxonomy &mdash; Accepted
<% end %>
<% content_for :page_banner do %>
  <h1>APC Excluded Names</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>
<% content_for :slider do %>
  <%= render "slider" %>
<% end %>

<%= render "search" %>

<br/>
<br/>
<span class="debug hidden-print tiny">
  app/views/plants/taxonomy/accepted/search/excluded/index
</span>
