<% content_for :page_title do %>
  APNI
<% end %>
<% content_for :page_banner do %>
  <h1>APNI</h1>
  <p class="lead">Australian Plant Name Index</p>
<% end %>
<% content_for :sidebar do %>
  <%= render "apni/sidebar" %>
<% end %>

<h1>About APNI</h1>
