<ul>
<% tally = 0 %>
<% Plants::Names::Search::Within::RankedDescendantCounts.new(name.id).results.each do |d| %>
  <% target_id = new_target_id %>
  <% tally += d['count'].to_i %>
  <li>

   <%= link_to("#{fa_icon('caret-right lg')} #{d['rank']}: #{number_with_delimiter(d['count'].to_i)}".html_safe,
                   plants_names_search_within_taxon_at_rank_path(
                     name.id,
                     d["rank"].gsub(/\./,'DOT'),
                     target_id: target_id),
                   class: "name-heading drill-down-toggle no-details",
                   data: {target_id: target_id},
                   remote: true) %>
   <div id="<%= target_id %>" class="drill-down hidden-xs-up"></div>
  </li>
<% end %>
</ul>
<%= "#{number_with_delimiter(tally)} #{"name".pluralize(tally)}" %>



