<div id="form-div">
<%= form_tag(taxonomy_search_path, method: :get) %>
<input name='q'
       type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['q'] %>"
       required=""
       title="Enter a search term - a name or part of a name."
       autofocus="true">

<%= render partial: "taxonomy/index/widgets" %>

<input type="submit"
       value="Search"
       class="left-aligned-form-button"
       title="Search the data and retrieve matching records">

</form>
</div>

