  <nav class="bd-links" id="docsNavbarContent">
    <div class="bd-toc-item active">
      <%= link_to "Biodiversity Australia",
                  welcome_path,
                  class: "bd-toc-link",
                  title: "Biodiversity Australia" %>
      <%= link_to "Fungi",
                  fungi_path,
                  class: "bd-toc-link",
                  title: "Biodiversity Australia Fungi" %>
    </div>
  </nav>
