
<%
    not_used_in_search = !params['search'].blank? &&
                         params['ex_base_author_abbrev'].blank? &&
                         params['base_author_abbrev'].blank? &&
                         params['ex_author_abbrev'].blank? &&
                         params['author_abbrev'].blank? &&
%>

  <% if not_used_in_search %>
    <tr class="<%= 'not-used-in-search hidden' if not_used_in_search %>">
  <% else %>
    <tr class="">
  <% end %>
    <td colspan="2"> <hr> </td>
  </tr>

