                    <li class="indent">
                      <span class="synonym-type"><%= synonym.label %>:</span>
                      <span class="synonym <%= synonym.font_style %>">
                        <%= synonym.full_name_html.html_safe %> <%= synonym.name_status_name %>
                      </span>
                      <%#= synonym.year %>
