  <nav class="bd-links" id="docsNavbarContent">
    <div class="bd-toc-item active">
      <a class="bd-toc-link" href="/getting-started/introduction">
        Overview
      </a>
      <ul class="nav bd-sidenav">
            <li class="">
              <%= link_to "About", about_apni_path, title: "About APNI" %>
            </li>
        </ul>
      </div>
      <div class="bd-toc-item">
        <a class="bd-toc-link" href="/layout/overview">
          Layout
        </a>
        <ul class="nav bd-sidenav">
            <li class="active bd-sidenav-active">
              <a href="/layout/overview">
                Overview
              </a>
            </li>
            <li class="">
              <a href="/layout/grid">
                Grid
              </a>
            </li>
            <li class="">
              <a href="/layout/media-object">
                Media object
              </a>
            </li>
            <li class="">
              <a href="/layout/responsive-utilities">
                Responsive utilities
              </a>
            </li>
        </ul>
      </div>
      <div class="bd-toc-item ">
          <a class="bd-toc-link" href="/content/reboot">
          Content
        </a>
        <ul class="nav bd-sidenav">
            <li class="">
              <a href="/content/reboot">
                Reboot
              </a>
            </li>
            <li class="">
              <a href="/content/typography">
                Typography
              </a>
            </li>
            <li class="">
              <a href="/content/code">
                Code
              </a>
            </li>
            <li class="">
              <a href="/content/images">
                Images
              </a>
            </li>
            <li class="">
              <a href="/content/tables">
                Tables
              </a>
            </li>
            <li class="">
              <a href="/content/figures">
                Figures
              </a>
            </li>
        </ul>
      </div>
      <div class="bd-toc-item ">
          <a class="bd-toc-link" href="/components/buttons">
          Components
        </a>
        <ul class="nav bd-sidenav">
            <li class="">
              <a href="/components/buttons">
                Buttons
              </a>
            </li>
            <li class="">
              <a href="/components/button-group">
                Button group
              </a>
            </li>
            <li class="">
              <a href="/components/button-dropdown">
                Button dropdown
              </a>
            </li>
            <li class="">
              <a href="/components/forms">
                Forms
              </a>
            </li>
            <li class="">
              <a href="/components/input-group">
                Input group
              </a>
            </li>
            <li class="">
              <a href="/components/dropdowns">
                Dropdowns
              </a>
            </li>
            <li class="">
              <a href="/components/jumbotron">
                Jumbotron
              </a>
            </li>
            <li class="">
              <a href="/components/label">
                Label
              </a>
            </li>
            <li class="">
              <a href="/components/alerts">
                Alerts
              </a>
            </li>
            <li class="">
              <a href="/components/card">
                Card
              </a>
            </li>
            <li class="">
              <a href="/components/navs">
                Navs
              </a>
            </li>
            <li class="">
              <a href="/components/navbar">
                Navbar
              </a>
            </li>
            <li class="">
              <a href="/components/breadcrumb">
                Breadcrumb
              </a>
            </li>
            <li class="">
              <a href="/components/pagination">
                Pagination
              </a>
            </li>
            <li class="">
              <a href="/components/progress">
                Progress
              </a>
            </li>
            <li class="">
              <a href="/components/list-group">
                List group
              </a>
            </li>
            <li class="">
              <a href="/components/modal">
                Modal
              </a>
            </li>
            <li class="">
              <a href="/components/scrollspy">
                Scrollspy
              </a>
            </li>
            <li class="">
              <a href="/components/tooltips">
                Tooltips
              </a>
            </li>
            <li class="">
              <a href="/components/popovers">
                Popovers
              </a>
            </li>
            <li class="">
              <a href="/components/collapse">
                Collapse
              </a>
            </li>
            <li class="">
              <a href="/components/carousel">
                Carousel
              </a>
            </li>
            <li class="">
              <a href="/components/utilities">
                Utilities
              </a>
            </li>
        </ul>
      </div>
      <div class="bd-toc-item ">
          <a class="bd-toc-link" href="/about/history">
          About
        </a>
        <ul class="nav bd-sidenav">
            <li class="">
              <a href="/about/history">
                History
              </a>
            </li>
            <li class="">
              <a href="/about/team">
                Team
              </a>
            </li>
            <li class="">
              <a href="/about/accessibility">
                Accessibility
              </a>
            </li>
            <li class="">
              <a href="/about/brand">
                Brand
              </a>
            </li>
            <li class="">
              <a href="/about/license">
                License
              </a>
            </li>
            <li class="">
              <a href="/about/translations">
                Translations
              </a>
            </li>
        </ul>
      </div>
      <div class="bd-toc-item ">
        <a class="bd-toc-link" href="/migration/">
          Migration
        </a>
        <ul class="nav bd-sidenav">
        </ul>
      </div>
  </nav>
