<% content_for :page_title do %>
  APC
<% end %>
<% content_for :page_banner do %>
  <h1>APC</h1>
  <p class="lead">Australian Plant Census</p>
<% end %>

<h1>APC</h1>
<p>The Australian Plant Census (APC) is a list of the accepted scientific names for the Australian vascular flora, ferns, gymnosperms, hornworts and liverworts, both native and introduced, and includes synonyms and misapplications for these names.</p>

<p>The APC covers all published scientific plant names used in an Australian context in the taxonomic literature, but excludes taxa known only from cultivation in Australia.</p>

<p>The taxonomy and nomenclature adopted for the APC are endorsed by the Council of Heads of Australasian Herbaria (CHAH).</p>

