<%= number_with_delimiter(name.pg_apni_descendants.cmd_tuples) %>
<%= "name".pluralize(name.pg_apni_descendants.cmd_tuples) %>
<br>
<hr>
<ul>
<% name.pg_apni_descendants.each do |d| %>
  <% target_id = new_target_id %>
  <li/><%= d["full_name"] %>
    <%#= link_to("#{d['full_name']}",
                   plants_names_search_within_taxon_at_rank_path(
                     name.id,
                     d["rank"].gsub(/\./,'DOT'),
                     target_id: target_id),
                   class: "drill-down-toggle",
                   data: {target_id: target_id},
                   remote: true) %>
   <div id="<%= target_id %>" class="drill-down hidden-xs-up"></div>
<% end %>
</ul>
