<% content_for :page_title do %>
  NSL: Flora
<% end %>
<% content_for :page_banner do %>
  <h1>Flora</h1>
<% end %>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>


<div class="row">
  <div class="col-xl-7 col-lg-9 col-md-10">
<p>
This section of the National Species Lists infrastructure delivers names and
taxonomies for Australian native and naturalised organisms covered by the
International Code of Nomenclature for algae, fungi and plants (ICN). The
currently available data comprise names, bibliographic information, and
taxonomic concepts for these organisms.
</p>
<p>
Additional names and taxonomies will be accessible here as they become
available.
</p>
  </div>
</div>
