<% content_for :page_title do %>
  National Species Lists
<% end %>

<% content_for :page_banner do %>
  <h1>National Species Lists</h1>
<% end %>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<div class="row">
  <div class="col-xl-7 col-lg-9 col-md-10">

    <p>The National Species List infrastructure delivers names and taxonomies for Australian native and naturalised organisms. The currently available data comprise names, bibliographic information, and taxonomic concepts for those organisms covered by the International Code of Nomenclature for algae, fungi and plants (ICN) and the International Code of Zoological Nomenclature (ICZN).
    </p>
    
    <p>This infrastructure will provide the ability to search for names, nationally-accepted taxonomies (the National Species List), and other taxonomies where available. Currently searching is provided for vascular plants, liverworts, hornworts and mosses.
    </p>

    <p>This infrastructure is in continuous development and additional functionality and data will be accessible as they become available.
    </p>

<hr class="black-bg" />
Quick links
        <ul class="discs">
          <li class="">
            <%= link_to "Plants",
                        plants_path,
                        class: "",
                        title: "Vascular Plants" %>
          </li>


  </div>
</div>
