<% content_for :page_title do %>
  Vascular Plant Names Search
<% end %>
<% content_for :page_banner do %>
  <h1>Vascular Plants</h1>
  <p class="lead">&nbsp;</p>
<% end %>
<% content_for :sidebar do %>
  <%= render "/plants/names/search/sidebar" %>
<% end %>

<h2>APNI Common Name Search</h2>
<%= render "search" %>
