<% content_for :page_title do %>
  Biodiversity Australia
<% end %>

<% content_for :page_banner do %>
  <h1>Biodiversity Australia</h1>
  <p class="lead">&nbsp;</p>
<% end %>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<p>Biodiversity Australia maintains and supports authoritative databases of
the names and taxonomy of life in Australia.

