<div class="name-display">
  <h3 class="fullname details" title="Scientific name">
    <%= "#{name.id}: #{name.full_name} #{name.status_name if name.show_status?} : #{name.sort_name}" %>
  </h3>
  <div class="family-name" title="Family name"><%#= name.family_name (hope to use materialized name_view %></div>
  <%= %(<div class="name-rank" title="Name rank">#{name.rank_name}</div>).html_safe if name.show_rank? %>
  <% shown = [] -%>
  <%# accepted_instance_id = name.try("accepted_name").try("instance_id") || 0 -%>
  <%# name.instances_in_order.each do | instance | %>
    <%# display, shown = display_instance(instance, shown, instance.id == accepted_instance_id) -%>
    <%#= display %>
  <%# end %>
</div>
<%#= render(partial: '/plants/names/search/power_links', locals: {name: @search.results.first}) if name.sub_taxon? %>
