<% content_for :page_title do %>
  Vascular Plants
<% end %>
<% content_for :page_banner do %>
  <h1>Vascular Plants</h1>
  <p class="lead">&nbsp;</p>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<p>Biodiversity Australia maintains a database of mainly vascular plants called the Australian Plant Name Index (APNI).</p>

<p><%= link_to "APNI".html_safe,
               plants_names_path,
               class: "",
               title: "Australian Plant Names Index" %>
 is a tool for the
botanical community that deals with plant names and their usage in the
scientific literature, whether as a current name or synonym.</p>

<p>APNI does not recommend any particular taxonomy or nomenclature.</p>

<p>Biodiversity Australia also supports systems for maintaining 
              <%= link_to "taxonomic arrangements of Australian Plants based on APNI.",
                          plants_taxonomy_path,
                          class: "",
                          title: "Vascular Plant Taxonomy" %>
</p>
