<% content_for :page_title do %>
  Vascular Plants
<% end %>
<% content_for :page_banner do %>
  <h1>Vascular Plants</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<div class="row">
  <div class="col-xl-6 col-lg-8 col-md-9">
    <p>
    The scope of names and taxonomies in this part of the National Species List
    are the vascular plants, ferns and gymnosperms. Currently, for historical
    reasons hornworts and liverworts are also included but they are to moved to
    the appropriate taxonomic grouping.
    </p>
    
    <p>
      Names are recorded in the Australian Plant Name Index (APNI).
    </p>
    
    <p>
      The accepted taxonomy for Australian plants is recorded in the Australian Plant Census (APC)
    </p>
    
    <p>
      As other taxonomic lists are included in the NSL infrastructure they will also be available here.
    </p>
      
  </div>
</div>

<hr class="black-bg" />

Quick Links
<ul class="discs">
   <li class="">
     <%= link_to "Search APNI",
                 plants_names_search_path,
                 class: "",
                 title: "Search Vascular Plant Names" %>
   </li>
   <li class="">
     <%= link_to "Search APC",
                 plants_taxonomy_accepted_search_accepted_path,
                 class: "",
                 title: "Search the Australian Plant Census" %>
   </li>
</ul>

<br/>
<br/>
<br/>
<span class="debug tiny hidden-print">[views/plants/index]</span>
