<% content_for :page_title do %>
  Vascular Plants
<% end %>
<% content_for :page_banner do %>
  <h1>Vascular Plants</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<p>The
<%= link_to "Australian Plant Name Index (APNI).".html_safe,
               plants_names_path,
               class: "",
               title: "Australian Plant Names Index" %>
is a tool for the
botanical community that deals with plant names and their usage in the
scientific literature, whether as a current name or synonym.</p>

<p>APNI does not recommend any particular taxonomy or nomenclature.</p>

<p>For a listing of currently accepted scientific names for the Australian vascular flora, use 
the 
              <%= link_to "Australian Plant Census (APC)",
                          plants_taxonomy_path,
                          class: "",
                          title: "Vascular Plant Taxonomy" %>
<p>
The Australian Plant Census is a list of the accepted scientific names for the Australian
                        <ul>
                            <li>vascular flora, 
                            <li>ferns,
                            <li>gymnosperms,
                            <li>hornworts and
                            <li>liverworts,
                        </ul>
                        both native and introduced, and includes synonyms and misapplications for these names.
</p>

<p>The APC covers all published scientific plant names used in an Australian context in the taxonomic literature, but excludes taxa known only from cultivation in Australia.</p>

<p>The taxonomy and nomenclature adopted for the APC are endorsed by the Council of Heads of Australasian Herbaria (CHAH).
</p>

<p>[Relationship between APNI and APC?]</p>
