  <ul class="plain">
    <% @taxa.each do |taxon| %>
      <li/><%= taxon.full_name %> sensu <%= taxon.reference_citation %>
        <ul class="plain indent2">
          <% taxon.taxon_details.taxon_synonyms.each do |synonym| %>
            <li><%= synonym.full_name %>
          <% end %>
        </ul>
        <div class="tiny-break"></div>
        <ul class="plain indent2">
          <%= taxon.taxon_details.taxon_distribution %>
        </ul>
        <div class="tiny-break"></div>
    <% end %>
  </ul>
