
              <div class="accepted-name-details indented">
              <ul class="apc-instances small">
                <% name.apc_accepted_instance.synonyms.sort do |x,y|
                  [x.name.full_name, x.cite.reference.year] <=> [y.name.full_name, y.cite.reference.year]
                  end.each do |synonym| %>
                  <%= synonym.name.full_name_html.html_safe %>
                  <% if synonym.instance_type.misapplied? %>
                    MISAPPLIED
                    <%= synonym.cite.reference.citation_html.html_safe %>
                  <% end %>
                  <br/>
              <% end %>
              </ul>
              <div class="accepted-name-comment small" title="Accepted name comment">
              <%= name.apc_comment %>
              </div>
              <div class="accepted-name-distribution small" title="Accepted name distribution">
              <%= name.apc_distribution %>
              </div>
            </div>

