
            <div class="accepted-name-details indented">
              <div class="accepted-name-comment small" title="Excluded name comment">
                <%= name.apc_comment.try("html_safe") %>
              </div>
            </div>

