<div class="help-text">
    <p>
    The Australian Plant Census (APC) provides a listing of currently accepted
    names for the Australian native and introduced flora, including
    angiosperms, ferns, gymnosperms, hornworts and liverworts. APC does not
    provide full details of the usage of these names in the taxonomic
    literature. For comprehensive bibliographic information, see the
    <%= link_to("Australian Plant Name Index database (APNI)", plants_names_path, title: "APNI") %>.
    </p>
</div>
