<% content_for :page_title do %>
  NSL: APC Search
<% end %>
<% content_for :page_banner do %>
  <h1>APC Search</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<%= render "plants/taxonomy/accepted/search/form" %>

<% if @search.present? %>
  <%= "<span class='search-result-summary'>#{pluralize(@search.results.size, 'name')}</span>".html_safe %>
<% end %>

<% if @search.present? %>
  <%= render partial: 'results', locals: {name: @search.results.first} %>
<% end %>


<br/>
<span class="debug tiny hidden-print">[plants/taxonomy/accepted/search/index]</span>

