<% content_for :page_title do %>
  Vascular Plant Taxonomy &mdash; Accepted
<% end %>
<% content_for :page_banner do %>
  <h1>APC Name Search</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "/plants/taxonomy/accepted/search/sidebar" %>
<% end %>


<p>Names considered in the APC may be accepted or excluded.
        <ul class="">
          <li class="">
            <%= link_to "Accepted names.",
                        plants_taxonomy_accepted_search_accepted_path(q: params['q']),
                        class: "",
                        title: "APC search for accepted names" %>
          
          </li>
          <li class="">
            <%= link_to "Excluded names",
                        plants_taxonomy_accepted_search_excluded_path(q: params['q']),
                        class: "",
                        title: "APC search for excluded names" %>
          </li>
          <li class="">
            <%= link_to "Accepted and excluded names",
                        plants_taxonomy_accepted_search_all_path(q: params['q']),
                        class: "",
                        title: "APC search for names that are accepted or excluded" %>
          </li>
        </ul>

        <p>Although the authority is included in some names e.g. scientific names, this search does not match on the authority.</p>
  <br/>
  <span class="debug tiny hidden-print">[plants/names/search/_sidebar]</span>
