<div class="name-display">
  <hr/>
  <%= link_to("Summary of names within #{name.full_name}",
              plants_names_search_within_taxon_summary_path(name.id),
              title: "Show the names within this name. E.g. species within genus") %>
  <hr/>
</div>

