



<% if @search.results.size > 0 %>
    <ul>
      <% @search.results.each_with_index do |result, ndx| %>
        <li/>
        <% if @search.parsed.show_details? && ndx < session[:default_details_limit] %>
          <%= render partial: '/plants/names/search/details', locals: {name: result} %>
          <br/>
        <% else %>
          <%= link_to("#{result[:full_name]}", plants_names_show_path(result[:id]),
                      class: "details-toggle",
                      data: {name_id: result[:id]},
                      title: "Select to show or hide details", remote: true) %>

            <div id="name-<%= result[:id] %>" class="details"></div>

        <% end %>
      <% end %>
    </ul>
  <% end %>

