
<% if @search.results.size > 0 %>
  <ul class="name-results">
    <% @search.results.each_with_index do |name, ndx| %>
      <li>
        <% if ndx < 20 %>
          <%= render partial: "/plants/names/search/results_detailed_under_limit", locals: {name: name, ndx: ndx} %>
        <% else %>
          <%= render partial: "/plants/names/search/results_detailed_over_limit", locals: {name: name, ndx: ndx} %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
