  <ul class="plain">
  <% @results.names.each do |name| %>
    <li>[<span title="family name" class="family-name"><%= name.family_name %></span>]
      <%= name.full_name %>
      <%= name.name_status_name %>
  <% end %>
  </ul>
