            <li>
              <% if session[:add_trailing_wildcard] == true %>
                <% tick_class = "tick" %>
              <% else %>
                <% tick_class = "tick hidden-xs-up" %>
              <% end %>
            </li>
            <li>
              <%= link_to "Wildcard #{fa_icon('check', id: 'toggle-wildcard-link-tick', class: tick_class )}".html_safe,
                toggle_wildcard_path,
                class: "toggle-link",
                title: "Automatically add a trailing wildcard to the search.
                        Tick to enable.
                        Untick to disable.",
                remote: true,
                method: :post %>
            </li>

