  <nav class="bd-links" id="docsNavbarContent">
    <div class="bd-toc-item active">
      <%= link_to "National Species Lists",
                  nsl_path,
                  class: "bd-toc-link",
                  title: "National Species Lists" %>
      <%= link_to ticked("Fauna"),
                  fauna_path,
                  class: "bd-toc-link",
                  title: "National Species Lists - Fauna" %>
    </div>
  </nav>
