<% content_for :page_title do %>
  Fauna
<% end %>
<% content_for :page_banner do %>
  <h1>Fauna</h1>
  <p class="lead">&nbsp;</p>
<% end %>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

