<% content_for :page_title do %>
  NSL: Fauna
<% end %>
<% content_for :page_banner do %>
  <h1>Fauna</h1>
<% end %>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<div class="row">
  <div class="col-xl-6 col-lg-8 col-md-9">
    <p>Currently delivered through the 
    <a href="https://biodiversity.org.au/afd/home">
      Australian Faunal Directory (AFD)
    </a>.
    </p>
  </div>
</div>
