<% if name.present? %>
  <div class="name-display">
  <div class="fullname" title="Scientific name"><%= name.full_name %></div>
  <div class="family-name" title="Family name"><%= name.family_name unless name.rank.family? %></div>
  <% shown = [] -%>
  <% apc_instance_id = name.apc_instance_id -%>
  <% name.instances_in_order.each do | instance | %>
    <% display, shown = display_instance(instance, shown, instance.id == apc_instance_id) -%>
    <%= display %>
  <% end %>
  </div>
  <%= render(partial: '/plants/names/search/power_links', locals: {name: name}) if name.sub_taxon? %>
<% end %>

