<% if name_detail.cited_by.present? %>
  <li class='compact subordinate-instance'>
    <span class="synonym-type">
      <%= name_detail.instance_type.name %> of 
    </span>
    <%= link_to(name_detail.cited_by.name.full_name_html.html_safe,
                plants_names_show_path(name_detail.cited_by.name.id),
                class: "synonym") %>
  </li>
<% end %>
