  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "Biodiversity Australia",
                    welcome_path,
                    class: "bd-toc-link",
                    title: "Biodiversity Australia" %>
        <%= link_to "Vascular Plants",
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <%= link_to "Names &mdash; APNI".html_safe,
                    plants_names_path,
                    class: "bd-toc-link",
                    title: "Vascular Plant Names" %>
        <ul class="nav bd-sidenav">
          <li class="">
            <%= link_to "APNI Name Search",
                        plants_names_search_path,
                        class: "",
                        title: "Vascular Plant Names Simple Search" %>
          </li>
        </ul>
      </div>
  </nav>
  <span class="debug hidden-print">[plants/names]</span>
