<% content_for :page_title do %>
  Vascular Plant Names
<% end %>
<% content_for :page_banner do %>
  <h1>Vascular Plants</h1>
  <p class="lead">&nbsp;</p>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<h2>Names &mdash; APNI</h2>
<br/>
<p>The Australian Plant Name Index (APNI) has
<%= link_to("online searching",
            plants_names_search_path,
            title: "APNI Search Page") %>.


<br/>
<span class="debug hidden-print">[plants/names/index]</span>

