<% content_for :page_title do %>
  Vascular Plant Names
<% end %>
<% content_for :page_banner do %>
  <h1>Australian Plant Name Index &mdash; APNI</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<p>The Australian Plant Name Index (APNI) has
<%= link_to("online searching",
            plants_names_search_path,
            title: "APNI Search Page") %>.


<br/>
<span class="debug hidden-print">[plants/names/index]</span>

