<% content_for :page_title do %>
  Vascular Plant Names
<% end %>
<% content_for :page_banner do %>
  <h1>APNI</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<p>The Australian Plant Name Index (APNI) has provided search pages for many years now.  This site provides the most recent versions of those searches.
<p>

<p>APNI searches:
</p>
<ul>
  <li/> <%= link_to("APNI Name Search",
            plants_names_search_path,
            title: "APNI Search Page") %> is the basic APNI search page that searches on names and lets you provide wildcards (*).
</ul>


<br/>
<br/>
<br/>
<br/>
<span class="debug tiny hidden-print">[plants/names/index]</span>

