<% content_for :page_title do %>
  Vascular Plant Names
<% end %>
<% content_for :page_banner do %>
  <h1>Vascular Plants</h1>
  <p class="lead">&nbsp;</p>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<h2>Names &mdash; APNI</h2>
<p>The 
<%= link_to("Australian Plant Name Index (APNI)",
            apni_path,
            title: "APNI Search Page") %>
is a tool for the
botanical community that deals with plant names and their usage in the
scientific literature, whether as a current name or synonym.</p>

<p>APNI does not recommend any particular taxonomy or nomenclature.</p>

