<%= @descendants.size %>
<%= "name".pluralize(@descendants.size) %> within
<br>
<hr>
<ul>
<% @descendants.results.each do |d| %>
  <% target_id = new_target_id %>
  <li/>
    <%= link_to("#{d['full_name']}",
                   plants_names_show_path(
                     d["id"],
                     target_id: target_id),
                   class: "drill-down-toggle",
                   data: {target_id: target_id},
                   remote: true) %>
   <div id="<%= target_id %>" class="drill-down hidden-xs-up"></div>
<% end %>
</ul>
