<% content_for :page_title do %>
  Vascular Plant Names Search
<% end %>
<% content_for :page_banner do %>
  <h1>APNI Names Within A Taxon - All</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<%= render "search" %>
<h4><%= @name.full_name %></h4>

<%= render partial: 'index', locals: {name: @name} %>
