<div id="form-div">
<%= form_tag(name_search_path, method: :get) %>
<input name='q'
       type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['q'] %>" required="" autofocus="true"
       placeholder="Search Term"
       title="Enter a search term - a name or part of a name.">
<div id="search-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right">
    <a href="" class="hide-this-help-link" data-target-id="search-field-help" title="Hide this help." >x</a>
  </div>
  <ul class="help">
    <li>Search terms can be the beginning of any taxon name; a trailing wildcard is added automatically.
    <li>For more specific searching you may supply additional wildcards (*).
    <li>Upper and lower case is ignored.
  </ul>
</div>
<%= render partial: "names/index/widgets" %>

<input type="submit"
       value="Search"
       name="search"
       class="left-aligned-form-button"
       title="Search the data and retrieve matching records">

</form>
</div>
