// Place all the styles related to the apc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.indented {
  padding-left: 3rem;
}

div.accepted-name-distribution {
  margin-top: 0.5rem;
}

div.accepted-name-comment {
  margin-top: 0.5rem;
}


