// Place all the styles related to the apni controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.apni-name-display {
  font-size: 80%;
  color: black;
}
div.apni-name-display ul {
  list-style-type: none;
  margin-bottom: 0;
}
