/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or any plugin's vendor/assets/stylesheets
 * directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear
 * at the bottom of the compiled file so the styles you add here take
 * precedence over styles defined in any styles defined in the other
 * CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * under sticky footer
 * import "component-examples";
 */
// Custom bootstrap variables must be set or import before bootstrap itself.
// Local docs variables

@import "bootstrap";

$bd-purple-1:         #563d7c;
$bd-purple-2:         #808000;
$bd-purple-3:         #8f98c3;
$bd-purple-4:         #7C84AB;
$bd-purple:         #63698A;
$bd-purple-bright:  lighten(saturate($bd-purple, 5%), 15%);
$bd-purple-light:   #cdbfe3;
$bd-graphite:       #2a2730;
$bd-graphite-light: lighten($bd-graphite, 40%);
$bd-yellow:         #ffe484;
$bd-danger:         #d9534f;
$bd-warning:        #f0ad4e;
$bd-info:           #5bc0de;
$bb-link:           darken(slateblue, 10%);
$bb-link-hover:     slateblue;

@import "booticon";
@import "font-family";
@import "nav";
@import "masthead";
@import "content";
@import "page-header";
@import "skiplink";
@import "sidebar";
@import "footer";
@import "sticky-footer";
@import "responsive-tests";
@import "buttons";
@import "callouts";
@import "browser-bugs";
@import "brand";
@import "clipboard-js";
@import "links";
@import "name";
@import "colours";
@import "search";
@import "font-awesome";
@import "font-sizes";
@import "banner-image";
@import "drill-down";
@import "lists";
@import "accepted-names";
@import "headings";
@import "navigator";
@import "help-text";
@import "broadcast";
@import "directives";
@import "banner";
