
#header.plants {
  background-image: url('apni-banner.png');
  background-repeat: no-repeat;
  background-position: right 0px;
}

#header.mosses {
  background-image: url('mosses-banner.png');
  background-repeat: no-repeat;
  background-position: right 0px;
}
