
#header.flora {
  background-image: image-url('flora-banner.png');
  background-repeat: no-repeat;
  background-position: right 0px;
}

#header.plants {
  background-image: image-url('apni-banner.png');
  background-repeat: no-repeat;
  background-position: right 0px;
}

#header.mosses {
  background-image: image-url('mosses-banner.png');
  background-repeat: no-repeat;
  background-position: right 0px;
}

#header.algae {
  background-image: image-url('algae-banner.png');
  background-repeat: no-repeat;
  background-position: right 0px;
}

#header.lichens {
  background-image: image-url('lichens-banner.png');
  background-repeat: no-repeat;
  background-position: right 0px;
}

#header.fungi {
  background-image: image-url('fungi-banner.png');
  background-repeat: no-repeat;
  background-position: right 0px;
}
