
.red {
  color: red;
}
.green {
  color: green;
}
.darkgray {
  color: darkgray;
}
.gray {
  color: gray;
}
.purple {
  color: purple;
}
.white {
  color: white;
}
.gray-bg {
  background-color: gray;
}
.lightgray-bg {
  background-color: lightgray;
}
.black-bg {
  background-color: black;
}
.nsl-blue-bg {
  background-color: $bd-purple;
}

