
body {
  color: darkslategray;
}

body.name.xdevelopment {
  background-color: #DBE4FF;
}

body.taxonomy.xdevelopment {
  background-color: #EDFFEE;
}

body.name_check.xdevelopment {
  background-color: #F6E5FF;
}

body.name.development {
  background-color: #C0B4FF;
}

body.taxonomy.development {
  background-color: #B1FFC7;
}

body.name_check.development {
  background-color: #DFC5EF;
}

body.name.test {
  background-color: #DBE4FF;
}

body.taxonomy.test {
  background-color: #EDFFEE;
}

body.name_check.test {
  background-color: #F6E5FF;
}
