
body {
  color: darkslategray;
  background: lightgray;
}

body.dark{
  color: #ddd;
  background-color: #333;
}

body.dark input[type="search"],
body.dark input[type="text"] {
  color: black;
  background-color : #d1d1d1; /* Safari ignores this */
}

body.dark a {
  color: lightblue;
}

body.name.development h1 {
  background-color: #C0B4FF;
  color: black;
}

body.dark.name.development h1 {
  background-color: #C0B4FF;
  color: black;
}

body.taxonomy.development h1 {
  background-color: #B1FFC7;
}

body.name_check.development h1 {
  background-color: #DFC5EF;
}

body.name.test h1 {
  background-color: #C0B4FF;
}

body.taxonomy.test h1 {
  background-color: #B1FFC7;
}

body.name_check.test h1 {
  background-color: #DFC5EF;
}


body.name.xtest h1 {
  background-color: #DBE4FF;
}

body.taxonomy.xtest h1 {
  background-color: #EDFFEE;
}

body.name_check.xtest h1 {
  background-color: #F6E5FF;
}

div.help-bar span.env {
  color: white;
}

body.development div.help-bar span.env {
  color: Gray;
}

