body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 120%;
  margin-left: 1em;
  background-color: floralwhite;
  color: darkslategray;
}

h1, h2, h3, h4, h5, h6 {
  color: darkslategray;
  font-weight: bold;
}

h2, h3 {
  font-size: 14px;
  line-height: 90%;
}

div.tiny-break {
  height: 0.4em;
}

*.debug {
  border: 1px solid blue;
}

h3.name-heading {
  margin-bottom: 5px;
}

ul.name-details {
  margin-top: 0px;
  margin-bottom: 25px;
}

div.name-detail-entry-separator.index {
  margin: 4px 0 4px 0;
}

div.name-detail-entry-separator.show {
  margin: 4px 0 4px 0;
}

h3.show {
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 15px;
}

span.synonym.italics element {
  font-style: italic;
}

#timing-summary {
  margin-top: 1em;
  font-style: italics;
}

a {
  text-decoration: none;
}

a.underline {
  text-decoration: underline;
}

*.red {
  color: red;
}

.hidden {
  display: none;
}
