body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 120%;
  margin-left: 1em;
  background-color: floralwhite;
  color: darkslategray;
}

h1, h2, h3, h4, h5, h6 {
  color: darkslategray;
  font-weight: bold;
}

h2, h3 {
  font-size: 14px;
  line-height: 90%;
}

div.tiny-break {
  height: 0.4em;
}

*.debug {
  border: 1px solid blue;
}
