body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 120%;
  margin-left: 1em;
  margin-right: 1em;
  color: darkslategray;
}

h1 {
  line-height: 200%;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: darkslategray;
  font-weight: bold;
}

h2, h3 {
  font-size: 14px;
  line-height: 90%;
}

div.tiny-break {
  height: 0.4em;
}

*.debug {
  border: 1px solid blue;
}

h3.name-heading {
  margin-bottom: 5px;
}

ul.name-details {
  margin-top: 0px;
  margin-bottom: 25px;
}

div.name-detail-entry-separator.index {
  margin: 4px 0 4px 0;
}

div.name-detail-entry-separator.show {
  margin: 4px 0 4px 0;
}

h3.show {
  line-height: 100%;
  margin-bottom: 15px;
}

span.synonym.italics element {
  font-style: italic;
}

#timing-summary {
  margin-top: 1em;
  font-style: italics;
}

a {
  text-decoration: none;
}

a.underline {
  text-decoration: underline;
}

*.red {
  color: red;
}

.hidden {
  display: none;
}

table.for-search-form {
  border-collapse: collapse;
}
table.for-search-form td.label {
  text-align: right;
  padding: 0;
  margin: 0;
}

hr.heavy {
  height: 2px;
  background: darkgray;
}


#show-edit-links-area {
    position:absolute;
    top:0;
    right:0;
    margin-right: 1em;
    margin-top: 1em;
}


.field-help {
  line-size: 250%;
  background-color: lightgray;
  margin: 10px -1em 10px -1em;
  padding: 10px 1em 10px 1em;
}

td.field-help {
  line-size: 250%;
  background-color: lightgray;
  margin: 10px -1em 10px -1em;
  padding: 10px 1em 10px 0.2em;
}
td.field-help.extra-padding {
  padding: 10px 1em 10px 0.4em;
}

ul.help {
  padding: 0 0 0 1em;
}

*.inline-block {
  display: inline-block;
}

*.text-align-right {
  text-align: right;
}

div.hide-help-link-container {
  margin: -1em 0 -0.5em 0;
  padding: 0 0 0 0;
}

div.hide-this-help-link-container {
  margin: -0.5em 0 -0.8em 0;
  padding: 0 0 0 0;
}


