div.family-name {
  margin-bottom: 0.3em;
}

span.cross-reference-name {
  font-style: italic;
}
span.cross-reference-name author,
span.cross-reference-name rank {
  font-style: normal;
}

a.camera-icon {
  color: black;
}
