

*.width10pc {
  width: 10%;
}

*.width20pc {
  width: 20%;
}

*.width40pc {
  width: 40%;
}

*.width60pc {
  width: 60%;
}

*.width80pc {
  width: 80%;
}

*.width100pc {
  width: 100%;
}

*.min-width10em {
  min-width: 10em;
}

*.min-width20em {
  min-width: 20em;
}

*.max-width20em {
  max-width: 20em;
}

*.max-width30em {
  max-width: 30em;
}

.form-field {
  //padding: 0 0 0 0;
  //margin: 3px 0 0 0;
  border: 1px solid slategray; /* For Safari dev. mode iPhone */
}


input.form-field[type="number"]
{
    vertical-align: middle; /* This is optional but it makes legacy IEs look better */
    width: 4em;
}

.form-button {
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.5em 1em 0.5em 1em;
  border: 1px solid slategray; /* For Safari dev. mode iPhone */
}
.left-aligned-form-button {
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.5em 1em 0.5em 0em;
  border: 1px solid slategray; /* For Safari dev. mode iPhone */
}

h4.form-heading {
  margin: 0.5em 0 0 0;
  padding: 0 0 0 0;
}

