
div.name-display h3 {
  font-size: 100%;
  font-weight: bold;
}

div.name-display {
  font-size: 85%;
  color: black;
}
div.name-display ul {
  list-style-type: none;
  margin-bottom: 0;
}
span.full-name {
  font-weight: bold;
}
div.instance-citation {
  margin-top: 0.5%;
}
span.instance-type-name {
  font-size: 90%;
  color: DimGray;
}
span.instance-type{
  font-size: 98%;
}
li.subordinate-instance{
  line-height: 120%;
}

div.instance-citation {
  padding-left: 3rem;
}

li.compact.subordinate-instance {
  padding-left: 3rem;
}

div.name-display {
  margin: 1em 0 0.8em 0;
  font-size: 82%;
}

span.result-item-heading {
  font-size: 94%;
}

div.name-display-family-name {
  font-size: 82%;
}

