
div.name-display h3 {
  font-size: 100%;
  font-weight: bold;
}

div.name-details,
div.name-display {
  font-size: 85%;
  color: black;
  margin: 1em 0 0.8em 5rem;
}

div.name-details,
div.name-display ul {
  list-style-type: none;
  margin-bottom: 0;
}

div.name-detail-synonyms {
}
 
span.full-name {
  font-weight: bold;
}

span.instance-citation,
div.instance-citation {
  margin-top: 1em;
  line-height: 110%;
  padding-bottom: 0;
  margin-bottom: -3px;
}

span.instance-citation.from-partial,
div.instance-citation.from-partial {
  margin-bottom: 2px;
}
 
div.standalone-instance-citation {
  margin-bottom: 0.0rem;
}

span.instance-type-name {
  font-size: 90%;
  color: DimGray;
}

span.instance-type{
  font-size: 98%;
}

li.compact.subordinate-instance {
  padding-left: 2.6rem;
  line-height: 90%;
  font-size: 90%;
  margin-top: 0.15rem;
  margin-bottom: 0;
}

li.compact.subordinate-instance span.synonym-type {
  font-size: 96%;
  color: gray;
}

a.synonym element {
  font-style: italic;
}

span.result-item-heading {
  font-size: 94%;
}

*.name-display-family-name {
  font-size: 82%;
}

hr.divider {
  background: black;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

span.name-status {
  font-size: 90%;
  font-style: italic;
}

span.pro-parte {
  font-size: 90%;
  font-style: italic;
}

span.instance-type {
  font-size: 90%;
  font-style: italic;
}

.name-results a.full-name {
}

.name-status {
  font-size: 90%;
}

.instance-note {
  margin-left: 2.6rem;
  line-height: 98%;
  font-size: 95%;
  margin-top: 0;
  margin-bottom: 0;
}

div.classification-tree-note {
  margin-left: 2.6rem;
  margin-top: 0;
  font-size: 85%;
}

ul.name-detail-synonyms {
  margin-bottom: 0;
}

span.instance-note-label {
  font-size: 92%;
  font-weight: bold;
}
span.instance-note-value {
  font-size: 92%;
}

span.classification-tree-value {
}

.hanging-indent
{
  text-indent: 3em hanging each-line;
}

.accepted-or-excluded-indicator {
  font-size: 130%;
}

.synonym name element {
  font-style: italic;
}

.accepted-name-details name element {
  font-style: italic;
}
