
div.name-display h3 {
  font-size: 100%;
  font-weight: bold;
}

div.name-details,
div.name-display {
  font-size: 85%;
  color: black;
  margin: 1em 0 0.8em 8rem;
}

div.name-details,
div.name-display ul {
  list-style-type: none;
  margin-bottom: 0;
}

span.full-name {
  font-weight: bold;
}

span.instance-citation,
div.instance-citation {
  margin-top: 1em;
  line-height: 110%;
  padding-bottom: 0;
  margin-bottom: -3px;
}

span.instance-type-name {
  font-size: 90%;
  color: DimGray;
}

span.instance-type{
  font-size: 98%;
}

li.compact.subordinate-instance {
  padding-left: 4rem;
  line-height: 80%;
}

li.compact.subordinate-instance span.synonym-type {
  font-size: 80%;
  color: gray;
}

a.synonym {
  font-style: italic;
}

span.result-item-heading {
  font-size: 94%;
}

div.name-display-family-name {
  font-size: 82%;
}

hr.divider {
  background: black;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

span.name-status {
  font-size: 90%
}

.name-results a.full-name {
}

.name-status {
  font-size: 90%;
}


