
@media print {

    h* {
      display: none;
    }

    body {
      background-color: lightgreen;
    }

    div#footer {
      background-color: red;
    }

    div#header {
      display: none;
    }

    div#content {
      display: none;
    }

    div.bd-sidebar {
      display: none;
    }
}
