#search-tools-slider.hidden {
  display: none;
  overflow-x: hidden;
}

#search-tools-slider {
  position: fixed;
  background: rgba(255, 255, 255, .8);
  border: 1px solid lightgray;
  padding: 0.5rem 1rem 1rem 1rem;
}

#search-tools-slider a {
  color: gray;
}

#details-limit-field {
  width: 3.5rem;
  max-width: 3.5rem;
}

@media (min-height: 850px) {
  #search-tools-slider {
    bottom: 6rem;
    width: 11rem;
    height: 22rem;
  }
}

@media (max-height: 849px) {
  #search-tools-slider {
    background: rgba(255, 255, 255, .7);
    bottom: 3rem;
    width: 11rem;
    height: 22rem;
  }
}

@media (min-height: 850px) {
  #search-tools-slider {
    bottom: 6rem;
    width: 11rem;
    height: 22rem;
  }
}

@media (min-height: 900px) {
  #search-tools-slider {
    top: 30rem;
    width: 11rem;
    height: 22rem;
    color: blue;
  }
}

@media (max-width: 999px) {
  #search-tools-slider {
    right: 0%;
    width: 11rem;
  }
}

@media (min-width: 1000px) and (max-width: 1099px){
  #search-tools-slider {
    right: 2%;
  }
}

@media (min-width: 1100px) and (max-width: 1199px){
  #search-tools-slider {
    right: 6%;
  }
}

@media (min-width: 1200px) and (max-width: 1299px){
  #search-tools-slider {
    right: 5%;
  }
}

@media (min-width: 1300px) and (max-width: 1349px){
  #search-tools-slider {
    right: 7%;
  }
}

@media (min-width: 1350px) and (max-width: 1399px){
  #search-tools-slider {
    right: 9%;
  }
}

@media (min-width: 1400px) and (max-width: 1499px){
  #search-tools-slider {
    right: 11%;
  }
}

@media (min-width: 1500px) and (max-width: 1599px){
  #search-tools-slider {
    right: 13%;
  }
}

@media (min-width: 1600px) and (max-width: 1649px){
  #search-tools-slider {
    right: 14.5%;
  }
}


@media (min-width: 1650px) and (max-width: 1699px){
  #search-tools-slider {
    right: 15.8%;
  }
}

@media (min-width: 1700px) and (max-width: 1799px){
  #search-tools-slider {
    right: 16.5%;
  }
}

@media (min-width: 1800px) and (max-width: 1849px){
  #search-tools-slider {
    right: 18.8%;
  }
}

@media (min-width: 1850px) and (max-width: 1899px){
  #search-tools-slider {
    right: 19.8%;
  }
}

@media (min-width: 1900px) and (max-width: 1999px){
  #search-tools-slider {
    right: 20%;
  }
}

@media (min-width: 2000px) {
  #search-tools-slider {
    right: 22%;
  }
}


ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}
