<% content_for :page_title do %>
  Vascular Plant Names Search
<% end %>
<% content_for :page_banner do %>
  <h1>Vascular Plants</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<h2>APNI Names Within a Genus</h2>
<br/>
<%= render "search" %>

<% if @search.present? %>
  <%= "#{@search.parsed.search_type} for '#{params[:q]}' returned
  #{pluralize(@search.results.size, 'genus')}" %>
<% end %>
