<% search_form ||= params[:search_form] %>
  <ul class="plain">
  <% @results.names.each do |name| %>
    <li>
    <% if @client_request.family? && name.family_name.present? %>
      [<span title="Family Name" class="family-name"><%= name.family_name %></span>]
    <% end %>
    <% name_string = name.full_name %>
    <% unless name.name_status_name.blank? %>
      <% name_string += %(, <i class="name-status" title="name status">#{name.name_status_name}</i>) %>
    <% end %>
    <% if @client_request.links? %>
      <%= link_to name_string.html_safe, show_name_path(id: name.id, search_form: search_form) + "#name-#{name.id}", title: "Show name details" %>
    <% else %>
      <%= name_string.html_safe %>
    <% end %>
  <% end %>
  </ul>
