<% if @results.paginator_info.present? %>
  <div>
    <a id="search-results-summary" title="Search results">
      <%= pluralize(@results.paginator_info.total,'matching record') %><%= "," if @results.paginator_info.total > 1 %>
      <% if @results.paginator_info.total <= @client_request.limit %>
        <% if @results.paginator_info.count > 1 %>
          all shown
        <% end %>
      <% else %>
        <%= "#{@client_request.per_page} shown per page" %>
      <% end %>
    </a>
  <br>
  </div>
  <hr>
<% end %>
