<% if @results.present? %>
  <div>
    <a id="search-results-summary" title="Search results">
      <%= pluralize(@results.count,'matching record') %>,
      <% if @results.count <= @client_request.limit %>
        <% if @results.count > 1 %>
          all shown
        <% end %>
      <% else %>
        <%= "#{@client_request.limit} shown per page" %>
      <% end %>
    </a>
  <br>
  </div>
  <hr>
<% end %>
