<h1>Something went wrong.</h1>
<hr>
<br/>
<% if development? %>
  <h2><%= @error.to_s %></h2>
  <br/>
  <br/>
<% end %>
<br/>
<br/>
We have recorded some information about how the problem happened and will fix it as soon as possible.
<br/>
<br/>
