              <% if @search.parsed.show_permalinks? %>
                <span class="citation-links">
                  <%= link_to(fa_icon("link"),
                              "http://id.biodiversity.org.au/name/apni/#{name.id}",
                              title: "Citation link for the #{name.full_name}") %>
                </span>
              <% end %>

