<div class="row">
  <div class="col-xs-9 col-sm-11 col-md-9 col-lg-7 col-xl-8">
    <div class="help-text for-help <%= 'hidden-xs-up' unless session[:help] && session[:help] == true %>">
      <p>
      The Australian Plant Census (APC) provides a listing of currently accepted
      names for the Australian native and introduced flora, including
      angiosperms, ferns, gymnosperms, hornworts and liverworts. APC does not
      provide full details of the usage of these names in the taxonomic
      literature. For comprehensive bibliographic information, see the
      <%= link_to("Australian Plant Name Index database (APNI)", names_path, title: "APNI") %>.
      </p>
    </div>
  </div>
</div>

