
<% if @search.results.size > 0 %>
  <ul class="taxonomy-results">
    <% @search.results.each_with_index do |name_or_syn, ndx| %>
      <% if name_or_syn.accepted_accepted? %>
        <%= render partial: "/taxonomy/accepted/search/accepted_accepted_or_excluded_name", locals: {name: name_or_syn, accepted: true, excluded: false} %>
      <% elsif name_or_syn.accepted_excluded? %>
        <%= render partial: "/taxonomy/accepted/search/accepted_accepted_or_excluded_name", locals: {name: name_or_syn, accepted: false, excluded: true} %>
      <% elsif name_or_syn.synonym? %>
        <%= render partial: "/taxonomy/accepted/search/synonym_name", locals: {synonym: name_or_syn} %>
      <% else %>
        <li>Unknown type of record: <%= name_or_syn.type_code %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

