          <div class="classification-tree-note">
            <span class="instance-note-label"><%= classification_tree_key %> comment: </span>
            <span class="classification-tree-value"><%= name_detail.comment.html_safe %></span>
          </div>
