<div class="classification-tree-note">
  <span class="instance-note-label"><%= classification_tree_key %> comment: </span>
  <span class="classification-tree-value"><%= instance.instance_note_for_comment.value.html_safe %></span>
</div>
