<% unless @search.present? %>
  <hr/>
  <ul class="nav bd-sidenav">
    <li class="gray tiny">
          <a href="javascript:history.go(-1);"
             class=""
             title="Go back one page"><%= fa_stacked_icon "chevron-left inverse", base: "square" %>Back</a>
     </li>
     <li class="gray tiny">
          <a href="javascript:history.go(1);"
             class=""
             title="Go forward one page"><%= fa_stacked_icon "chevron-right inverse", base: "square" %>Forward</a>
     </li>
 </ul>
<% end %>
