<a href="#"
  id="retrieve-details-control"
  class="tiny retrieve-details-control control"
  title="Retrieve details, 50 at a time">Retrieve <span id="more-details-text" class="hidden-xs-up"> more</span> details
</a>
<br/>
<a href="javascript:history.go(-1);"
   class="gray micro"
   title="Go back one page"><%= fa_stacked_icon "chevron-left inverse", base: "square" %></a>
<a href="#top"
   class="gray micro"
   title="Go to the top of the page"><%= fa_stacked_icon "chevron-up inverse", base: "square" %></a>
<a href="#footer"
   class="gray micro"
   title="Go to the bottom of the page"><%= fa_stacked_icon "chevron-down inverse", base: "square" %></a>
<a href="javascript:history.go(1);"
   class="gray micro"
   title="Go forward one page"><%= fa_stacked_icon "chevron-right inverse", base: "square" %></a>
