<!DOCTYPE html>
<html>
<head>
  <title>SearchClientGraphql</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <style media="print">
     body {color:#000000;
           background-color:#FFFFFF;} 
     .no-print {display: none;}
  </style>
      <% if development? %>
<style>
a:not([title]),
select:not([title]),
textarea:not([title]),
input:not([title]) {
  background: red;
}

input[type="checkbox"]:not([title]),
label:not([title]) {
  background: purple;
  color: red;
  border: 2px solid black;
  width: 16px;
  height: 16px;
}
</style>

    <% end %>

  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
